.detail-image {
    // Large breakpoint
    @media only screen and (max-width: 992px) {
        aspect-ratio: 3 / 2;
    }

    // Mobile breakpoint
    @media only screen and (max-width: 576px) {
        aspect-ratio: 1 / 1;
    }
}

.introduction-header {
    position: absolute;
    top: -2rem;
    left: 10px;

    // Tablet
    @media only screen and (max-width: 992px) {
        top: -1.5rem;
    }

    // Mobile
    @media only screen and (max-width: 576px) {
        top: -1rem;
    }
}

.introduction-panel {
    padding: 1.5rem 2rem !important;
    padding-top: 2rem !important;
    position: relative;

    // Large breakpoint
    @media only screen and (max-width: 767px) {
        padding: 1.5rem !important;
    }
}

.viewport-panel {
    height: 70vh;

    // Large breakpoint
    @media only screen and (max-width: 767px) {
        height: 50vh;
    }

    // Mobile
    @media only screen and (max-width: 576px) {
        height: 40vh;
    }
}

.figma-embed {
    height: 70vh;

    // Large breakpoint
    @media only screen and (max-width: 767px) {
        height: 50vh;
    }

    // Mobile
    @media only screen and (max-width: 576px) {
        height: 70vh;
    }
}

.parallax {
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: transform 2s cubic-bezier(0.1, 0.9, 0.44, 1);
        position: relative;
    }

    &:hover {
        img {
            transform: scale(1.02);
        }
    }
}

.teste {
    img {
        height: 100%;
        width: 100%;
        object-fit: contain !important;
        transition: transform 2s cubic-bezier(0.1, 0.9, 0.44, 1);
        position: relative;
    }

    &:hover {
        img {
            transform: scale(1.02);
        }
    }
}

.results-button {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    background-color: rgba(33, 1, 36, .8);
}

.video {
    padding: 0;
    position: relative;
    overflow: hidden;
    border: 2px solid #F5F5F5;

    img {
        height: 100%;
        width: 200%;
        object-fit: cover;
        // animation: slide-down 10s ease-in-out infinite both;
    }

    @keyframes slide-down {
        0% {
            transform: translateY(0);
        }
    
        100% {
            transform: translateY(-100%);
        }
    }
}

.navbar-right-container {
    @media only screen and (min-width: 1700px) {
        display: block !important;
    }
    
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 1.5rem;
    max-width: 2096px;
}

.navbar-right {
    -webkit-animation: slide-in-right 0.7s 0.2s both;
    animation: slide-in-right 0.7s 0.2s both;

    display: flex !important;
    flex-direction: column;
    align-items: end !important;
    margin-right: 0;
    margin-left: auto;
    width: min-content;

    &:not(:hover) {
        .nav-link.active {
            p {
                transform: translateX(0);
            }

            .bullet {
                opacity: 1;
                width: 100%;
            }
        }
    }

    .nav-link {
        overflow: hidden;
        text-align: right;
        width: 100%;

        div {
            display: inline-block;
            width: min-content;
        }

        p {
            text-wrap: nowrap;
            display: block;
            transform: translateX(100%);
            transform-origin: bottom right;
            transition: transform .2s ease;
        }

        .bullet {
            margin-left: auto;
            width: 30px;
            height: 4px;
            border-radius: 1rem;
            display: block;
            background-color: #210124;
            opacity: .1;
            transition: opacity .2s ease, width .2s ease;
        }

        &:hover {
            p {
                transform: translateX(0);
            }

            .bullet {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.yarl__container {
    background-color: rgba(0, 0, 0, .8);
}

.yarl__slide_image {
    height: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    border-radius: 24px;

    &:active {
        cursor: grab;
    }
}

.yarl__button {
    filter: none;
}

.challenges-image {
    aspect-ratio: 4 / 3;
    width: 100%;
    height: 100%;
}