.experience-list {
    .list-group-item > img {
        transition: transform 0.2s ease, filter 0.2s ease;
    }

    .list-group-item b {
        transition: transform 0.2s ease;
        transform-origin: bottom left;
    }

    .list-group-item:hover {
        img {
            transform: scale(1.1);
            filter: drop-shadow(0 0.125rem 0.45rem rgba(0, 0, 0, 0.075)) !important;
        }

        b {
            transform: scale(1.1);
        }
    }
}

.skill-card {
    img {
        transition: transform 0.2s ease, filter 0.2s ease;
    }

    &:hover {
        img {
            transform: scale(1.1) rotate(-8deg);
            filter: drop-shadow(0 0.125rem 0.45rem rgba(0, 0, 0, 0.075)) !important;
        }
    }

    // Desktop
    @media only screen and (min-width: 992px) {
        img {
            width: 75% !important;
        }
    }

    // Tablet
    @media only screen and (max-width: 992px) {
        img {
            width: 40% !important;
        }
    }
}

.skill-list {
    b {
        cursor: default;
        transition: padding 0.1s ease;
        transform-origin: bottom left;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    b:hover {
        padding-left: 1rem;
    }
}

.carousel {
    padding: 0
}

.experience-content {
    // Mobile
    @media only screen and (max-width: 576px) {
        font-size: 0.875rem;
    }
}