@import 'styles/home/greeting.scss';
@import 'styles/home/about.scss';
@import 'styles/home/portfolio.scss';
@import 'styles/home/experience.scss';
@import 'styles/home/testimonial.scss';

.home-content {
    margin-top: 4rem;

    @media only screen and (max-width: 992px) {
        margin-top: 2rem;
    }

    // Mobile
    @media only screen and (max-width: 576px) {
        margin-top: 0;
    }
}

