.fade-borders {
    mask-image: linear-gradient(to left, #000 95%, transparent), linear-gradient(to right, #000 95%, transparent);
    mask-composite: intersect;

    .flickity-page-dots {
        position: relative;
        bottom: 0;
        padding-top: 1rem;

        // Extra small breakpoint
        @media only screen and (max-width: 576px) {
            padding-top: .5rem;
        }
    }

    // Small breakpoint
    @media only screen and (max-width: 768px) {
        mask-image: linear-gradient(to left, #000 98%, transparent), linear-gradient(to right, #000 98%, transparent);
    }

    // Extra small breakpoint
    @media only screen and (max-width: 576px) {
        mask-image: none;
    }
}

.testimonials-carousel {
    margin-right: - calc(1.5rem * 0.5);
    margin-left: - calc(1.5rem * 0.5);
    padding-left: 1.5rem;

    overflow: hidden;

    .flickity-viewport {
        overflow: visible;
    }
}

.testimonial {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    margin-left: 1.5rem;

    min-height: 100%;

    p + p {
        margin-top: 1rem;
    }

    // Small breakpoint
    @media only screen and (max-width: 768px) {
        p + p {
            margin-top: .5rem;
        }
    }

    // Extra small breakpoint
    @media only screen and (max-width: 576px) {
        font-size: 0.875rem;
    }
}